.user-header {
  height: auto !important;
  padding: 25px !important;
  border-radius: 8px !important;
}

.dataTables_filter {
  display: none !important;
}

.dataTable {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.dt-buttons {
  display: none !important;
}

.btn-secondary {
  background-color: #979797;
  border-color: #a5a5a5;
  color: #fff;
}

.btn-secondary:hover {
  background-color: #858080;
  border-color: #3b3b3b;
  color: #fff;
}

.box-header {
  padding: 15px !important;
}

.bootstrap-select .btn-default {
  background-color: #fdfdfd !important;
}

table td,
table th {
  vertical-align: middle !important;
}

.bootstrap-select .selected.active a {
  background-color: #e1e3e9 !important;
  color: #333 !important;
}

.head-black thead {
  background-color: #222d32 !important;
  color: #fff !important;
}

.px-2 {
  padding-left: 15px;
  padding-right: 15px;
}

.overflow-auto {
  overflow-x: auto;
}
